name: Update articles

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate JSON
        run: |
          sudo apt-get install -y jq
          jq . data/articles.json

      - name: Commit updated articles.json
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add data/articles.json
          git commit -m "Update articles" || echo "No changes"
          git push
